---
---


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

// Our variables
$base-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-primary:    #7570b3;
$brand-color:      $brand-primary;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$text-color:       #111;
$background-color: #fdfdfd;

$headings-font-weight:    600;
$headings-color:          $grey-color-dark;

$navbar-default-color:              $brand-primary;
$navbar-default-bg:                 lighten($navbar-default-color, 40%);
$navbar-default-link-color:         $brand-primary;
$navbar-default-link-hover-color:   darken($navbar-default-color, 10%);
$navbar-default-toggle-hover-bg:    lighten($navbar-default-color, 40%);
$navbar-default-toggle-icon-bar-bg: $brand-primary;

$dropdown-link-color:               $brand-primary;
$dropdown-link-hover-bg:            lighten($navbar-default-color, 40%);

$pager-hover-bg:                    lighten($brand-primary, 30%);					

$grid-border-color:				$brand-primary;

$btn-border-radius-base: 		15px;
$btn-default-color:             $brand-primary;
$btn-default-bg:                $background-color;
$btn-default-border:            $grey-color-light;
$btn-custom-hover:				darken($brand-primary, 10%);
$btn-custom-hover-bg:				lighten($brand-primary, 30%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "layout",
        "custom",
        "syntax-highlighting"
;
